/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";
    #address-cells = <1>;
    #size-cells = <0>;

    fragment@0 {
        reg = <0>;
        target = <&gpio>;
        __overlay__ {
            pins {
                brcm,pins = <4 5 6 12 13 14 15 16 17 18 19 20 26>;
                brcm,function = <0>;
                brcm,pull = <2>;
            };
        };
    };

    fragment@1 {
        reg = <1>;
        target-path = "/soc";
        __overlay__ {
            buttons {
                compatible = "gpio-keys";
                #address-cells = <1>;
                #size-cells = <0>;

                button@16 { //Player 1 Up
                    reg = <16>;
                    gpios = <&gpio 16 1>;
                    linux,code = <103>;
                };
                button@26 { //Player 1 Down
                    reg = <26>;
                    gpios = <&gpio 26 1>;
                    linux,code = <108>;
                };
                button@19 { //Player 1 Right
                    reg = <19>;
                    gpios = <&gpio 19 1>;
                    linux,code = <106>;
                };
                button@4 { //Player 1 Left
                    reg = <4>;
                    gpios = <&gpio 4 1>;
                    linux,code = <105>;
                };
                button@17 { //Player 1 Hotkey
                    reg = <17>;
                    gpios = <&gpio 17 1>;
                    linux,code = <KEY_H>;
                };
                button@5 { //Player 1 Select
                    reg = <5>;
                    gpios = <&gpio 5 1>;
                    linux,code = <KEY_SELECT>;
                };
                button@6 { //Player 1 Start
                    reg = <6>;
                    gpios = <&gpio 6 1>;
                    linux,code = <KEY_START>;
                };
                button@13 { //Player 1 R
                    reg = <13>;
                    gpios = <&gpio 13 1>;
                    linux,code = <KEY_R>;
                };
                button@14 { //Player 1 A
                    reg = <14>;
                    gpios = <&gpio 14 1>;
                    linux,code = <KEY_A>;
                };
                button@15 { //Player 1 B
                    reg = <15>;
                    gpios = <&gpio 15 1>;
                    linux,code = <KEY_B>;
                };
                button@18 { //Player 1 Y
                    reg = <18>;
                    gpios = <&gpio 18 1>;
                    linux,code = <KEY_Y>;
                };
                button@12 { //Player 1 L
                    reg = <12>;
                    gpios = <&gpio 12 1>;
                    linux,code = <KEY_L>;
                };
                button@20 { //Player 1 X
                    reg = <20>;
                    gpios = <&gpio 20 1>;
                    linux,code = <KEY_X>;
                };
            };
        };
    };
};
